{{ define "main" }}
<div class="container">
  <h1 class="text-center">Temple Pooja Calendar</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Day</th>
        <th scope="col">Festival</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>14-Apr-24</td>
        <td>Saturday</td>
        <td>Cavady</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>12-June-24</td>
        <td>Sunday</td>
        <td>Pooja</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>15-May-24</td>
        <td>Friday</td>
        <td>Pooja1</td>
      </tr>
    </tbody>
  </table>
</div>
{{ end }}
